streamlit
pandas
numpy
groq
fuzzywuzzy
sounddevice
wavio
faster-whisper
pyaudio
trafilatura
transformers
torch
torchvision
torchaudio
requests
sentencepiece
accelerate
rich
python-Levenshtein
plotly
tokenizers
